.orbit {
    position: absolute;
    border: 1px dashed rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    pointer-events: none;
}

.orbit-rotation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.planet {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
}

.rotate {
    animation: spin linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes twinkle {
    0%,
    100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}