* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 80px;
    --footer-height: 60px;
    --bk-color: #000000;
    --head-bk-color: linear-gradient(360deg, #4e4e4e00, #ffffff2d);
    --foot-bk-color: linear-gradient(180deg, #4e4e4e00, #ffffff2d);
    --font-color: #ffffff;
}

body {
    background-color: var(--bk-color);
    color: var(--font-color);
    text-shadow: 1px 1px 15px #000000;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: var(--head-bk-color);
    height: var(--header-height);
}

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    width: 100%;
    overflow: hidden;
}

.star {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 50%;
    z-index: -1;
    animation: twinkle 5s infinite;
}
@keyframes twinkle {
    0%, 100% { opacity: 0.2; }
    50% { opacity: 1; }
}

.planets {
    position: relative;
    font-size: 6px;
    width: 40em;   
    height: 40em;
    margin: auto;
    transform: translateY(100%);
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
        height: 130%;
        width: 130%;
    }
}

@keyframes orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


#sun {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 0 0 35px 1px rgb(231, 152, 6);
    animation: orbit 50s linear infinite;
}

.planet {
    position: absolute;
    border: 1px dashed rgba(255, 238, 0, 0.151);
    border-radius: 50%;
    scale: 1.2;
    &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
}

#mercury {
    top: 12.5em;
    left: 12.5em;
    width: 15em;
    height: 15em;
    animation: orbit 68.7s linear infinite;
    &::before {
        top: 1.5em;
        right: 0.8em;
        width: 2em;
        height: 2em;
        background-size: cover;
        background-image: url('./assets/images/planets/mercury-med.webp');
        animation: orbit 10s linear infinite;
    }
}
#venus {
    top: 10em;
    left: 10em;
    width: 20em;
    height: 20em;
    animation: orbit 48.7s linear infinite;
    &::before {
        top: 2em;
        right: 2em;
        width: 2em;
        height: 2em;
        background-size: cover;
        background-image: url('./assets/images/planets/venus-med.webp');
        animation: orbit 10s linear infinite;
    }
}
#earth {
    top: 6em;
    left: 6em;
    width: 28em;
    height: 28em;
    animation: orbit 36.5s linear infinite;
    &::before {
        top: 3em;
        right: 0em;
        width: 5em;
        height: 5em;
        background-size: cover;
        background-image: url('./assets/images/planets/earth-med.webp');
        animation: orbit 10s linear infinite;
    }
}
#moon {
    top: 2em;
    left: 22em;
    width: 7em;
    height: 7em;
    animation: orbit 2.7s linear infinite;
    &::before {
        top: 0.8em;
        right: 0.2em;
        width: 1.2em;
        height: 1.2em;
        background-size: cover;
        background-image: url('./assets/images/planets/moon-med.webp');
    }
}
#mars {
    top: 2em;
    left: 2.5em;
    width: 36em;
    height: 36em;
    animation: orbit 26.5s linear infinite;
    &::before {
        top: 5em;
        right: 3em;
        width: 3em;
        height: 3em;
        background-size: cover;
        background-image: url('./assets/images/planets/mars-med.webp');
        animation: orbit 10s linear infinite;
    }
}
#jupiter {
    top: -2em;
    left: -2em;
    width: 45em;
    height: 45em;
    animation: orbit 21s linear infinite;
    &::before {
        top: 6em;
        right: 3em;
        width: 5em;
        height: 5em;
        background-size: cover;
        background-image: url('./assets/images/planets/jupiter-med.webp');
        animation: orbit 10s linear infinite;
    }
}
#saturn {
    top: -7em;
    left: -7em;
    width: 55em;
    height: 55em;
    animation: orbit 17s linear infinite;
    &::before {
        top: 7.5em;
        right: 5em;
        width: 11em;
        height: 4.5em;
        background-size: cover;
        background-image: url('./assets/images/planets/saturn-med.webp');
        animation: orbit 10s linear infinite;
    }
}
#uranus {
    top: -12em;
    left: -12em;
    width: 65em;
    height: 65em;
    animation: orbit 19s linear infinite;
    &::before {
        top: 9em;
        right: 6.5em;
        width: 4em;
        height: 4em;
        background-size: cover;
        background-image: url('./assets/images/planets/uranus-med.webp');
        animation: orbit 10s linear infinite;
    }
}
#neptune {
    top: -17em;
    left: -17em;
    width: 75em;
    height: 75em;
    animation: orbit 15s linear infinite;
    &::before {
        top: 10em;
        right: 8em;
        width: 4em;
        height: 4em;
        background-size: cover;
        background-image: url('./assets/images/planets/neptune-med.webp');
        animation: orbit 10s linear infinite;
    }
}
#pluto {
    top: -22em;
    left: -22em;
    width: 85em;
    height: 85em;
    animation: orbit 18s linear infinite;
    &::before {
        top: 11em;
        right: 10em;
        width: 4em;
        height: 4em;
        background-size: cover;
        background-image: url('./assets/images/planets/pluto-med.webp');
        animation: orbit 10s linear infinite;
    }
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
    background: var(--foot-bk-color);
    color: var(--font-color);
    text-shadow: 0px 0px 15px #ffffff;
}