
<div class="credentials">
    <strong>3rd Party APIs Used:</strong>
    <ul>
        <li><a class="project-link" href="https://api.nasa.gov/" target="_blank">NASA APOD, and Image and Video Library APIs</a></li>
        <li><a class="project-link" href="https://api-ninjas.com/api/planets" target="_blank">Ninja API Planets API</a></li>
    </ul>
    <strong>Other Resources:</strong>
    <ul>
        <li><a class="project-link" href="https://apod.nasa.gov/apod/astropix.html" target="_blank">Nasa APOD</a></li>
        <li><a class="project-link" href="https://solarsystem.nasa.gov/planets/overview/" target="_blank">NASA Solar System Exploration</a></li>
        <li><a class="project-link" href="assets/credits.txt" target="_blank">Solar System Planet Image Attributions</a></li>
        <li><a class="project-link" href="https://www.loom.com/share/d46b5e1ba4ea4510a9e9e410c7264203" target="_blank">Project Video Presentation</a></li>
    </ul>
</div>

<div class="media-bar">
    <a href="https://www.facebook.com/profile.php?id=100089012599040&sk=about_contact_and_basic_info" target="_blank">
        <img src="assets/logos/facebook.svg" alt="Facebook Logo" width="16" height="16">
    </a>
    <a href="https://www.instagram.com/i.am_chiaro?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        target="_blank">
        <img src="assets/logos/instagram.svg" alt="Instagram Logo" width="16" height="16">
    </a>
    <a href="https://github.com/macsandoval1999/wdd231" target="_blank">
        <img src="assets/logos/github.svg" alt="GitHub Logo" width="16" height="16">
    </a>
    <a href="https://www.linkedin.com/in/marcosandoval1999/" target="_blank">
        <img src="assets/logos/linkedin.svg" alt="LinkedIn Logo" width="16" height="16">
    </a>
</div>

<div class="copyrights">
    <strong>WDD330 Final Project</strong>
    <p>Developed by <strong class="highlight">Marco Sandoval</strong></p>
    <p>&copy; <span id="current-year"></span> Marco Sandoval. All rights reserved.</p>
    <p id="last-modified"></p>
</div>